@import "../../global.scss";

.portfolio {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding-top: 50px;

  @include mobile {
    padding-top: 0px;
  }

  h1 {
    margin-top: 20px;
    font-style: 50px;
    color: white;
    overflow: visible;
    
    @include mobile {
      font-size: 40px;
      padding: 30px 0 0 0;
      margin-top: 0;
    }
    span {
      color: grey;
    }
  }

  ul {
    padding: 0 0px 0px 0px;
    list-style: none;
    display: flex;
    // opacity: .75;
    align-items: center;
    color: darkslategrey;
    overflow: visible;
    text-align: center;

    @include mobile {
      padding: 0 0 0 40px;
      margin: 0 0 3% 0;
      font-size: 15px;
      border: 1px;
    }

    li {
      width: 120px;
      height: 40px;
      margin: 0 10% 0 0px;
      padding: 8px 0px 5px 0px;
      font-size: 15px;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      background: white;
      font-weight: 600;
      overflow: hidden;
    }
  }

  .container {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 3% 0 0% 0;
    scroll-behavior: none;
    
    @include mobile {
      width: 100%;
      height: 60%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      margin: 3% 0 0 0;
      padding: 0;
      align-content: flex-start;
    }

    div.card{
      width: 17rem;
      height: auto;
      max-height: 250px;
      cursor: pointer;
      transition: 1.5s all;
      
      @include mobile{
        width: 40%;
        height: auto;
        flex-direction: column;
        margin: 0 0 0 0;
        max-height: 200px;
      }

      &:hover {
        background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
        linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
        linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);        color: white;
        border: double 1px;
        border-color: white;
      }

      img.card-img-top{
        height: 150px;
        border-radius: 5%;
        transition: 2s all;

        @include mobile{
          width: auto;
          height: 60%;
        }

        &:hover {
          background-color: rgb(75, 72, 72);
          color: white;
          transform:scale(1.05);
        }
      }
      .card-body{
        padding: 0;
        justify-content: center;
        align-items: center;
        // align-content: center;
        text-align: center;
        scroll-behavior: none;
        overflow: visible;
        
        @include mobile{
          width: 100%;
          height: 40%;
          flex-direction: row;
        }
      }
      a.btn{
        font-size: small;
      }

      button.btn.btn-primary{
        
        @include mobile{
          width: 47%;
          height: auto;
          font-size: 60%;
          scroll-behavior: none;
          margin-bottom: 5px;
          padding: 3px 7px;
        }
          
          @media (max-width: $phone) {
            padding: 2px 0;
          }
    }
      .btn.btn-success{
        margin-left: 5px;

        @include mobile{
          width: 47%;
          height: auto;
          font-size: 60%;
          scroll-behavior: none;
          margin-bottom: 5px;
          padding: 3px 6px;
        }

        @media (max-width: $galaxy) {
          padding: 2px 0;
        }
      }

      .card-title.h5{
        padding: 10px;
        font-size: medium;
        margin: 0;
        text-align: center;

        @include mobile{
          width: 100%;
          height: 30%;
          font-size: 10px;
          text-align: center;
          scroll-behavior: none;
          padding: 3px 0 0 0;
        }
      }
    }

    .item {
      overflow: visible;

      @include mobile {
        width: 160px;
        height: 145px;
        align-content: center;
        scroll-behavior: none;
        margin: 0 0 4% 0;
        padding: 0 0 4% 0;
      }

      h4 {
        display: none;
        @include mobile {
          display: flex;
          position: absolute;
          bottom: 2%;
          color: #808080;
        }
      }
    }
  }
  .portfolioText {
    color: white;
    text-align: center;
    margin: 2%;
    overflow: hidden;
    width: 55%;
    
    @media only screen and (max-width: 420px) {
      // margin-top: -10%;
      font-size: 12px;
      width: 90%;
    }
  }
}

// __________________________________________
// @media screen and (min-width: 100px) and (max-width: 420px) {

// }
