@import "../../global.scss";

.portfolio {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;

  h1 {
    font-style: 50px;
  }

  ul {
    padding: 0;
    margin: 10px;
    list-style: none;
    display: flex;
  }

  .container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .item {
      width: 220px;
      height: 150px;
      border-radius: 20px;
      border: 1px solid rgb(228, 224, 224);
      margin: 10px 20px;
      align-items: center;
      justify-content: center;
      color: white;
      display: flex;
      position: relative;
      transition: all 0.7s ease;
      cursor: pointer;
      background-color: lightgray;

      h3 {
        position: absolute;
        font-size: 20px;
      }

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        z-index: 1;
        color: lightgray;
      }

      &:hover {
        // background-color: $mainColor;
        background-color: lightgreen;
        img {
          opacity: 0 2;
          z-index: 0;
        }
      }
    }
  }
}
