@import "../../global.scss";

.portfolioList {
  height: 50px;
  width: 125px;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  // justify-content: space-evenly;
  align-items: center;
  padding: .25rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  overflow: hidden;
  // margin-bottom: 5%;
  margin-top: 0;

  &.active {
    font-size: 1.25rem;
    width: 150px;
    color: white;
    letter-spacing: 1px;
    border: 1.5px solid;
    border-color: rgb(174, 174, 174);
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  }
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
  .portfolioList {
    font-size: 1.25rem;

    &.active{
      font-size: 1.3rem;
    }
  }
}
