@import "../../global.scss";

.portfolioList {
  font-size: 14px;
  margin-right: 50px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 10px 0 0;
  overflow: hidden;

  &.active {
    background-color: darkslategrey;
    color: white;
    border: solid;
    border-color: white;
  }
}
