@import "../../global.scss";

#works {
  height: 100vh;
}

.works {
  background-color: rgb(123, 202, 163);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .mobileWorksTextContainer{
    display: none;
  }

  .arrow {
    width: 10%;
    height: 20%;
    position: absolute;
    cursor: pointer;
    top: 40%;
    color: white;
    animation: arrowBlink 3s infinite;

    @keyframes arrowBlink {
      30% {
        opacity: 20%;
        color: white;
      }
    }

    &.left {
      left: 7%;
      transform: rotateY(180deg);
    }
    &.right {
      right: 7%;
    }
  }
  .slider {
    height: 375px;
    width: 300vw;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include mobile {
      height: 500px;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        align-content: start;
      }

      .item {
        transform: rotateY(180deg);
        background-image: url("https://cdn.mos.cms.futurecdn.net/gtkekaDHpknr4beyGmbtCo-1200-80.png");
        border-radius: 3%;
        height: 90%;
        min-height: 370px;
        max-width: 700px;
        max-height: 500px;
        width: 85%;
        background-color: rgb(175, 175, 175);
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid;
        border-color: grey;
        box-shadow: 4px 5px black;
        padding: 0% 2% 0 10px;
        overflow: hidden;

        @include mobile {
          height: 75%;
          padding: 0;
          position: relative;
        }

        .mobileContainer{
          display: none;

          @include mobile{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
          }

          .mobileImgContain{
            width: 70%;
            margin: 0 auto;
            display: flex;
            padding-bottom: 3%;
            min-height: 130px;
            justify-content: center;
          }

          img{
            border-top: solid 2px;
            border-bottom: solid 2px;
            border-right: solid 2px;
            border-color: black;
            border-radius: 10px;
            min-height: 130px;
          }

          #mobileTitle{
            color: white;
            padding-top: 2%;
          }

          #mobileDesc{
            color: white;
            text-align: center;
            font-size: 12px;
          }
        }

          .worksLogo{
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            padding-top: 10%;

            @include mobile {
              display: none;
            }

            a{
              font-size: smaller;
            }

            .iconContainer {
              width: 75px;
              max-width: 100%;  
              vertical-align: top;
              margin: auto;
              border-radius: 20px;

              @include mobile {
                width: 60%;
                height: 90%;
                margin: 0% 0 0% 15%;
              }
            }
          }
            h2 {
              font-size: 20px;
              color: white;
              overflow: visible;
              margin: 3% 0 0 0;

              @include mobile {
                margin: 0px 0 0 15px;
                color: gray;
                padding: 0px 0 0 0;
              }
            }

            
            .descText {
              font-size: 14px;
              font-weight: 500;
              margin: 0 0 0 0;
              padding: 23px 10px 0 0;
              overflow: visible;
              border-top: double;
              border-color: white;
              
              @include mobile {
                width: 300px;
                overflow: visible;
                display: none;
                margin: 0 0 0 0px;
              }
            }
            span {
              font-size: 12px;
              text-decoration: underline;
              font-weight: 600;
              cursor: pointer;
              color: black;
              margin: 10px 0 5px 0;
              overflow: visible;
            }

          .textContainer{
            margin-top: 5%;
            align-content: baseline;
            text-align: baseline;
            justify-content: center;
            position: relative;
            height: 40%;

            @include mobile{
              display: none;
            }

            #cardDesc{
              display: flex;
              font-size: 12px;
            }
          }
          .worksImages {
            max-width: 100%;
            border-radius: 4%;
            border: solid;
            border-bottom: white;
            border-color: black;
            border-bottom: black;
            transition: 1.5s ease;
            margin: 2%;

            @include mobile {
              display: none;
            }

            &:hover {
              transform: scale(1.05);
            }

            .activeImg {
              width: 100%;
              // max-width: 400px;
              max-height: 240px;
              @include mobile {
                transition: 1.5s ease;
              }
            }
          }
          .thumbnailContainer{
            width: 80%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: row;
            margin: 0 auto;

          }
          .imgThumbnails{
            width: 75px;
            height: 50px;
            border-radius: 20%;
            display: flex;
            // margin: 10px;
            align-items: center;
          }
          .right {
            flex: 8;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            margin-right: 3%;
        }
      }
    }
  }
}

// __________________________________________
@media screen and (min-width: 100px) and (max-width: 420px) {

  .works{
    .slider{
      top: 5%;
    }
      
      img.arrow {
        width: 10%;
        height: 20%;
        top: 30%;
        z-index: 3;
        
        &.left {
          position: absolute;
          left: 0%;
          z-index: 1;
        }
        
        &.right{
          position: absolute;
          right: 0%;
          z-index: 1;
      }
    }
  }
  }
// ______________________________________________