@import "../../global.scss";

.works {
  background-color: rgb(123, 202, 163);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .arrow {
    width: 6%;
    height: 20%;
    position: absolute;
    cursor: pointer;
    top: 40%;
    color: white;
    animation: arrowBlink 3s infinite;

    @keyframes arrowBlink {
      30% {
        opacity: 20%;
        color: white;
      }
    }

    @include mobile {
      height: 10%;
      top: 70%;
    }

    &.left {
      left: 7%;
      transform: rotateY(180deg);
    }
    &.right {
      right: 7%;
    }
  }
  .slider {
    height: 375px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include mobile {
      height: 500px;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        align-items: start;
        align-content: start;
      }

      .item {
        border-radius: 3%;
        height: 90%;
        width: 700px;
        background-color: rgb(175, 175, 175);
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid;
        border-color: grey;
        box-shadow: 4px 5px black;

        @include mobile {
          height: 67%;
          width: 90%;
        }

        .left {
          flex: 4;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: rgb(66, 65, 65);

          @include mobile {
            flex: none;
            height: 20%;
            width: 35%;
            position: absolute;
            height: 150px;
            left: 0px;
            top: 10px;
          }

          .leftContainer {
            width: 90%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include mobile {
              margin: 0 15% 0 0;
              top: 10%;
              align-items: center;
              text-align: center;
            }

            .iconContainer {
              width: 30%;
              height: 25%;
              border-radius: 25%;
              background-color: black;
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 0 0 0 33%;
              border-color: white;
              border: solid;
              overflow: hidden;
              scroll-behavior: none;

              @include mobile {
                width: 60%;
                height: 90%;
                margin: 0% 0 0% 15%;
              }

              .img {
                width: 35px;
              }
            }
            h2 {
              font-size: 20px;
              color: white;
              padding: 0px 0 25px 15px;
              overflow: visible;
              align-content: center;
              justify-content: center;
              align-items: center;

              @include mobile {
                margin: 0px 0 0 15px;
                color: gray;
                padding: 0px 0 0 0;
              }
            }

            .descText {
              font-size: 14px;
              font-weight: 500;
              margin: 0 0 0 0;
              padding: 23px 10px 0 0;
              overflow: visible;
              border-top: double;
              border-color: white;

              @include mobile {
                width: 300px;
                overflow: visible;
                display: none;
                margin: 0 0 0 0px;
              }
            }
            span {
              font-size: 12px;
              text-decoration: underline;
              font-weight: 600;
              cursor: pointer;
              color: black;
              margin: 10px 0 5px 0;
              overflow: visible;
            }

            ul {
              overflow: visible;
              li {
                align-self: start;
                margin: 0 0 0 0;
                color: black;
                font-size: 12px;
                align-content: center;
                justify-content: center;
                align-items: center;
                overflow: visible;

                @include mobile {
                }
              }
            }
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          margin-right: 3%;

          @include mobile {
            flex: 1;
            width: 65%;
            height: 50%;
            align-items: flex-end;
            position: right;
            position: absolute;
            color: white;
            top: 3%;
            right: 0%;
            font-size: 14px;
            margin: 0% 0 0% 0;
          }

          .worksImages {
            width: 78%;
            max-height: 70%;
            border-radius: 4%;
            border: solid;
            border-bottom: white;
            border-color: black;
            transition: 1.5s ease;
            margin: 0 0 0 1%;

            @include mobile {
              display: none;
            }

            &:hover {
              transform: scale(1.25);
            }

            img {
              width: 100%;
              @include mobile {
                transition: 1.5s ease;
              }
            }
          }

          .mobile {
            display: none;

            @include mobile {
              margin: 15% 0 12% 0;
              width: 100%;
              align-content: center;
              display: flex;
              flex-direction: column;
            }

            a {
              @include mobile {
                color: #dee2e6;
              }
            }

            p {
              display: none;

              @include mobile {
                display: block;
              }
            }

            h2 {
              display: none;

              @include mobile {
                display: block;
              }
            }
          }
        }
        .imgPreview {
          display: none;
          @include mobile {
            display: flex;

            &:hover {
              transform: scale(1.25);
            }
          }
        }
      }
    }
  }
}
