@import "../../global.scss";

.works {
  background-color: rgb(123, 202, 163);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .arrow {
    width: 6%;
    height: 20%;
    position: absolute;
    cursor: pointer;
    top: 40%;
    color: white;
    animation: arrowBlink 3s infinite;

    @keyframes arrowBlink {
      30% {
        opacity: 20%;
        color: white;
      }
    }

    @include mobile {
      height: 10%;
      top: 70%;
    }

    &.left {
      left: 7%;
      transform: rotateY(180deg);
    }
    &.right {
      right: 7%;
    }
  }
  .slider {
    height: 375px;
    width: 300vw;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include mobile {
      height: 500px;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        align-items: start;
        align-content: start;
      }

      .item {
        border-radius: 3%;
        height: 90%;
        max-width: 700px;
        width: 70%;
        background-color: rgb(175, 175, 175);
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid;
        border-color: grey;
        box-shadow: 4px 5px black;
        padding: 0% 2% 0 10px;

        @include mobile {
          height: 74%;
        }

        .mobileContainer{
          display: none;

          @include mobile{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
          }

          .mobileImgContainer{
            display: block;
            padding-bottom: 3%;
            min-height: 130px;
          }

          img{
            border-top: solid 2px;
            border-bottom: solid 2px;
            border-right: solid 2px;
            border-color: black;
            border-radius: 10px;
            min-height: 130px;
          }

          #mobileTitle{
            color: rgb(90, 88, 88);
            padding-top: 5%;
          }

          #mobileDesc{
            text-align: left;
            font-size: 12px;
          }
        }

          .worksLogo{
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 50%;
            width: 100%;
            padding-top: 8%;

            @include mobile {
              display: none;
            }

            a{
              font-size: smaller;
            }

            .iconContainer {
              width: 75px;
              max-width: 100%;  
              vertical-align: top;
              margin: auto;
              border-radius: 20px;

              @include mobile {
                width: 60%;
                height: 90%;
                margin: 0% 0 0% 15%;
              }
            }
          }
            h2 {
              font-size: 20px;
              color: white;
              overflow: visible;
              margin: 3% 0 0 0;

              @include mobile {
                margin: 0px 0 0 15px;
                color: gray;
                padding: 0px 0 0 0;
              }
            }

            
            .descText {
              font-size: 14px;
              font-weight: 500;
              margin: 0 0 0 0;
              padding: 23px 10px 0 0;
              overflow: visible;
              border-top: double;
              border-color: white;
              
              @include mobile {
                width: 300px;
                overflow: visible;
                display: none;
                margin: 0 0 0 0px;
              }
            }
            span {
              font-size: 12px;
              text-decoration: underline;
              font-weight: 600;
              cursor: pointer;
              color: black;
              margin: 10px 0 5px 0;
              overflow: visible;
            }

          .textContainer{
            margin-top: 5%;
            align-content: baseline;
            text-align: baseline;
            justify-content: center;
            position: relative;
            height: 40%;

            @include mobile{
              display: none;
            }

            #cardDesc{
              display: flex;
              font-size: 12px;
            }
          }
          .worksImages {
            max-width: 100%;
            border-radius: 4%;
            border: solid;
            border-bottom: white;
            border-color: black;
            transition: 1.5s ease;
            margin: 2%;

            @include mobile {
              display: none;
            }

            &:hover {
              transform: scale(1.05);
            }

            img {
              width: 100%;
              @include mobile {
                transition: 1.5s ease;
              }
            }
          }
          .right {
            flex: 8;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            margin-right: 3%;

          @include mobile {
            flex: 1;
            width: 65%;
            height: 50%;
            align-items: flex-end;
            position: right;
            position: absolute;
            color: white;
            top: 3%;
            right: 0%;
            font-size: 14px;
            margin: 0% 0 0% 0;
          }
        }
      }
    }
  }
}
