@import "../../global.scss";

.container-fluid{
  margin: 0;
  overflow: hidden;
}

#imageBorder{
  display: flex;
  margin: 5%;
  margin-top: 10%;
  border: solid;
  opacity: .85;
  align-items: center;
  justify-content: center;
  border-radius: 30%;
  overflow: hidden;
}

.introTextLocation{
  position: absolute;
  color: white;
  text-transform: uppercase;
  margin: auto;
  background-color: rgb(57, 56, 56);
  opacity: .8;
  border-radius: 5%;
  padding: 2%;
  text-align: left;
  width: fit-content;
  height: 30%;
  
  
  .introTextInnovative{
    margin: 0 0 0% 0;
    letter-spacing: 2px;
  }

  .introTextRealities{
    letter-spacing: 8px;
    font-size: 3rem;
    background-color: white;
    color: black;
    padding-top: 2%;
    border-radius: 10px;
    width:fit-content;
  }

  span, h3 {
    color: white;
    margin-bottom: 0;
  }
}


.doubleArrowIcon{
  transform: rotate(45deg);
}

#introPage{
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/049/807/original/dark-geometric-black-abstract-background-elegant-design-pattern-free-vector.jpg');
  background-repeat: no-repeat;
  background-color: black;
  justify-content: center;
  background-size: cover;
};

  .customButtonEffect{
    position: absolute;
    bottom: 10%;
    right: 10%;
    transform: translate( -50%, -50%);
    color: #c9340f;
    padding: 30px;
    letter-spacing: 2px;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 20px 50px rgba(0,0,0, .5);
    overflow: hidden;
    transform: rotate(45deg);
    transition: ease-in 1s;
    animation: arrowBlink 2s infinite;
    
  }
  @keyframes arrowBlink {
    0%{ opacity: 50%}
    50% { opacity: 80%;}
    100% { opacity: 50%}
  }

  .customButtonEffect:before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255, 255, 255, 0.05);
  }
  .customButtonEffect:hover {
    color: white;
  }

  a.customButtonEffect span:nth-child(1) {
    position: absolute; 
    top:0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ffffff, #c9340f);

    animation: animate1 2s linear infinite;
  }
  @keyframes animate1 {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  a.customButtonEffect span:nth-child(2) {
    position: absolute; 
    top:0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #ffffff, #c9340f);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
  }
  @keyframes animate2 {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
  }

  a.customButtonEffect span:nth-child(3) {
    position: absolute; 
    bottom:0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #ffffff, #c9340f);
    animation: animate3 2s linear infinite;
  }
  @keyframes animate3 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  a.customButtonEffect span:nth-child(4) {
    position: absolute; 
    top:0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #ffffff, #c9340f);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;

  }
  @keyframes animate4 {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  // ____________________________________________________________
@media screen and (min-width: 921px) and (max-width: 2500px) {
  .container-fluid{
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  div#imageBorder{
    display: flex;
    margin: 5% 2%;
    width: 75%;
    max-width: 600px;
  }

  .introText{
    margin: 25% 0 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding: 0;
    text-align: left;
    width: 50%;
    max-height: 500px;
  }

  .introBottomSection {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 80%;
    height: 30%;
    max-width: 1200px;

    .textInnovative, .introTextTangibles{
      display: none;
    }

    .textInnovativeDesktop {
      padding: 0;
      letter-spacing: 2px;
    }

    .bottomIntroTextContainer{
      display: flex;
      justify-content: center;
      align-items: center;
      width: inherit;
      
      .introTextLocation{
        position: relative;
        flex-direction: row;
        text-transform: uppercase;
        margin: 0% 3% 0 10%;
        padding: 0 0 0 1%;
        background-color: rgb(57, 56, 56);
        opacity: .8;
        border-radius: 5%;
        padding: 2% 5% 2% 2%;
        text-align: left;
        width: 65%;
        max-width: 500px;
        min-width: fit-content;
        height: fit-content;
        
      }
      .whiteLines{
        color: white;
        height: 100%;
        overflow: hidden;
        border-left: 2px double;
        display: flex;
        justify-content: center;
        align-items: left;
        align-content: center;
        flex-direction: column;
      }
      
      .introIconContainer{
        margin: 0 0 0 3%;
        display: flex;
        width: 65px;
        max-width: 75px;
      }
    }
  }

  .divider{
    color: white;
    margin: 0 3% 0 0;
    width: 90%;
    height: 4px;
    min-width: 500px;
  }

  .whiteLines{
    height: 2px;
    color: white;
    width: 100px;
  }
}
// ____________________________________________________________
@media screen and (min-width: 421px) and (max-width: 920px) {
  div#imageBorder{
    width: 70%;
    margin: 5% auto 5% auto;
  }

  .divider{
    color: white;
    width: 75%;
    height: 2px;
  }
  
  .introText{
    margin-left: 20%;
    padding: 0;
    text-align: left;
  }

  .introIconContainer{
    display: none;
  }

  .introTextLocation{
    display: flex;
    float: left;
    flex-direction: column;
    text-transform: uppercase;
    margin: 5% 0 0 3%;
    padding: 0 0 0 1%;
    background-color: rgb(57, 56, 56);
    opacity: .8;
    border-radius: 5%;
    padding: 2%;
    text-align: left;
    width: fit-content;
    height: 25%;
    overflow: hidden;

    .capitalLetter{
      font-size: 2rem;
      padding: 0 0 0 0;
      color: black;
    }

    .textInnovative{
      padding: 0 5px 5px 5px;
      margin-top: 2%;
      letter-spacing: 7px;
      background-color: white;
      color: black;
      font-size: 2.5rem;
      width:fit-content;
      overflow: hidden;
    }

    .introTextOregon{
      font-size: 1.25rem;
      margin: 0 0 -3% 0;
      background-color: black;
      color: white;
      padding: 0 3%;
      padding-bottom: 1%;
      border-radius: 10px;
      overflow: hidden;
    }

    .introTextTransform{
      font-size: 2rem;
      margin: 0 0 0% 0;
      overflow: hidden;
    }
    
    .introTextInnovative{
      font-size: 2rem;
      letter-spacing: 2px;
    }

    .introTextTangibles{
      display: inline;
      margin: -3% 0 -2% 0;
      padding: 0;
      font-size: 1.25rem;
      text-align: left;
      overflow: hidden;
    }

    .textInnovativeDesktop {
      display: none;
    }

    .introTextIdea{
      letter-spacing: 4px;
      font-size: 1.8rem;
      background-color: white;
      color: black;
      border-radius: 3px;
    }
    .introTextInto{
      background-color: black;
      font-size: 1rem;
    }
    .introTextRealities{
      letter-spacing: 10px;
      font-size: 3rem;
      background-color: white;
      color: black;
      padding: 2%;
      border-radius: 10px;
      text-align: center;
      margin-top: -1%;
    }

    span, h3 {
      color: white;
      margin-bottom: 0;
    }
  }
}

// ____________________________________________________________
@media screen and (min-width: 376px) and (max-width: 420px) {

#introText{
  margin: 0;
  width: 100%;
  overflow: hidden;
}

  div.container-fluid {
    text-align: center;
    margin: 3% 0 0 0;
    overflow: hidden;
  }
  #imageBorder{
    margin: 5% 5% 0 5%;
    align-self: center;
    justify-content: center;
    overflow: hidden;

  }

  #container {
    padding: 0;
    display: flex;
    width: 100%;
    height: 10%;
    overflow: hidden;
  }
  
  .introTypographyContainer{
    text-align: center;
    margin:auto;
    overflow: hidden;

    h1 {
      font-size: 30px;
    }

    .iType {
      font-size: 10px;
    }

    h3 {
      margin: 0;
    }
  }

  .introTextLocation{
    position: absolute;
    bottom: 3%;
    left: 8%;
    text-transform: uppercase;
    margin: auto;
    padding: 0 0 0 1%;
    background-color: rgb(57, 56, 56);
    opacity: .8;
    border-radius: 5%;
    padding: 2%;
    text-align: center;
    width: fit-content;
    height:fit-content;
    overflow: hidden;


    .capitalLetter{
      font-size: 2.5rem;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      color: black;
    }

    .introTextTransform{
      padding: 0 3%;
      background-color: black;
      font-size: 1rem;
    }
    
    .introTextInnovative{
      font-size: 1.5rem;
      letter-spacing: 2px;
      text-align: center;
    }

    .introTextIdea{
      letter-spacing: 4px;
      font-size: 2rem;
      text-align: center;
      background-color: white;
      color: black;
      border-radius: 3px;
    }
    .introTextInto{
      background-color: black;
      font-size: 1rem;
      margin: 3% 0 3% 0;
    }
    .introTextRealities{
      letter-spacing: 5px;
      font-size: 1.5rem;
      background-color: white;
      color: black;
      padding-top: 6%;
      border-radius: 10px;
    }

    span, h3 {
      color: white;
      margin-bottom: 0;
    }
  }

  #arrowDesk {
    display: none;
  }

  .divider{
    color: white;
    margin: auto;
    width: 75%;
    height: 4px;
  }

  .customButtonEffect{
    position: absolute;
    bottom: 7%;
    right: 10%;
    padding: 20px;
  }

  #mobileSocial {
    display: flex;
    border-left: double 3px;
    border-right: double 3px;
    border-color: red;
    justify-content: space-around;
    width: 60%;
    margin:auto;
    position: absolute;
    right: 20%;
    bottom: 10%;

    a{
      padding: 0 10px 0 10px;
    }
  }
}
// ____________________________________________________________
@media screen and (min-width: 100px) and (max-width: 375px) {

  #imageBorder{
    margin: 5%;
    align-self: center;
    justify-content: center;
    overflow: hidden;

  }
  .introTextLocation{
    display: none;
  }

  .introTypographyContainer{
    text-align: left;
    margin: 5% 0 0 15%;
    overflow: hidden;
  }

  .divider{
    display: none;
  }

  .customButtonEffect{
    position: absolute;
    bottom: 7%;
    right: 10%;
    padding: 20px;
  }
}