.intro {
  background-color: #bcb8b1;
  display: flex;

  .left {
    flex: 0.5;
    overflow: hidden;
    // background-color: rgb(70, 64, 65);
    // border-radius: 5%;

    .imgContainer {
      width: 500px;
      height: 550px;
      background-color: #495057;
      border-radius: 30%;
      display: inline-block;
      align-items: center;
      justify-content: baseline;
      // float: left;
      margin-top: 12%;
      margin-left: 12%;
      overflow: hidden;
      vertical-align: bottom;
      border: solid;
      border-color: white;

      // transform: rotate(5deg)

      .iconContainer {
        display: inline-block;
        align-content: center;
        position: relative;
        direction: row;
        border: solid;
        border-color: black;
      }

      img {
        width: 80%;
        height: 55%;
        margin-top: 20%;
        border-radius: 10%;
        margin-right: 5%;
        margin-left: 10%;
        align-content: center;
        display: flex;
        justify-content: center;
      }
    }
  }
  #iconTest {
    padding-right: 15px;
    padding-left: 15px;
  }
  .right {
    flex: 0.5;
    position: relative;
    overflow: hidden;

    .wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 60px;
        margin: 10px 50px;
        color: #495057;
      }

      h2 {
        font-size: 35px;
        margin-left: 50px;
      }
      h3 {
        font-size: 30px;
        margin-left: 50px;

        span {
          font-size: 30px;
          color: crimson;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
      a {
        position: absolute;
        bottom: 50px;
        left: 30%;
      }
      .downIcon {
        width: 50%;
        height: 30%;
        align-items: flex-start;
        justify-content: center;
        color: red;
        // border-top: solid;
        // border-color: black;
        transform: rotate(90deg);
        animation: arrowBlink 6s infinite;

        @keyframes arrowBlink {
          100% {
            opacity: 20%;
          }
        }
      }
    }
  }
}
