@import "../../global.scss";

// body{
//   background-color: black;
// }

#imageBorder{
  @include mobile {
    display: none;
  }
}

#mobileView{
  display: none;

  @include mobile{
    display: block;
    opacity: 90%;
    max-width: 350px;
    border-radius: 30px;
    border: solid;
    border-color: white;
    margin: 10% 5%;
    padding: 10px 10px;
    align-items: center;
    justify-content: center;
  
  }
}

#mobileSocial{
  display: none;

  @include mobile{
    display: flex;
    position: absolute;
    border-left: double 3px;
    border-right: double 3px;
    border-color: red;
    justify-content: space-around;
    width: auto;
    margin:auto;
    left: 25%;
    bottom: 52%;

    a{
      padding: 0 10px 0 10px;
    }
  }
}

#introPage{
  background-image: url("https://cdn.wallpapersafari.com/83/6/DY9RHb.gif");
  background-repeat: no-repeat;
  background-color: black;
  justify-content: center;
  opacity: 90%;
  background-size: cover;
};

// .intro {
//   background-color: black;
//   display: flex;

//   @include mobile {
//     flex-direction: column;
//     align-items: center;
//   }

//   .left {
//     flex: 0.5;
//     overflow: hidden;

//     @include mobile {
//       margin: 5% 0 -11% 0;
//       padding: 0 0 30px 0;
//     }

//     .imgContainer {
//       width: 500px;
//       height: 550px;
//       background-color: #495057;
//       border-radius: 30%;
//       display: inline-block;
//       align-items: center;
//       // justify-content: baseline;
//       margin-top: 10%;
//       margin-left: 5%;
//       overflow: hidden;
//       // vertical-align: bottom;
//       border: solid;
//       border-color: white;

//       @include mobile {
//         padding: 0 0 0 0;
//         margin: 6% 0 0% 0;
//         height: 275px;
//         width: 300px;
//         align-items: center;
//       }

//       .socials {
//         margin: 10% 0 5% 35%;
//         align-items: center;
//         justify-content: center;
//         background-color: rgb(218, 216, 214);
//         padding: 0 5px 0 5px;
//         width: 28%;
//         border-radius: 5%;

//         @include mobile {
//           height: 0;
//         }
//       }

//       .iconContainer {
//         display: inline-block;
//         align-content: center;
//         position: relative;
//         direction: row;
//         border: solid;
//         border-width: 3px;
//         border-color: rgb(219, 196, 196);

//         @include mobile {
//           margin: 0 0 0 0;
//         }
//       }

//       img {
//         width: 80%;
//         height: 60%;
//         margin-top: 20%;
//         border-radius: 10%;
//         margin-right: 5%;
//         margin-left: 10%;
//         align-content: center;
//         display: flex;
//         justify-content: center;
//         border: solid;
//         border-width: 3px;
//         border-color: black;

//         @include mobile {
//           height: 65%;
//           width: 75%;
//           margin-top: 12%;
//           margin-left: 12%;
//         }
//       }
//     }
//   }
//   #iconTest {
//     padding-right: 15px;
//     padding-left: 15px;
//   }
//   .right {
//     flex: 0.3;
//     position: relative;
//     overflow: hidden;

//     @include mobile {
//       margin: 0 0 % 0;
//       bottom: 5%;
//     }

//     .wrapper {
//       width: 120%;
//       height: 100%;
//       display: flex;
//       flex-direction: column;
//       justify-content: center;

//       @include mobile {
//         height: 80%;
//         margin: 20% 0 0% 0;
//       }

//       h1 {
//         font-size: 50px;
//         margin: 10px 70px 0 50px;
//         padding: 0 20px 0 0;
//         color: #495057;

//         @include mobile {
//           font-size: 30px;
//           margin: 10px 0 0 10px;
//           align: center;
//         }
//       }

//       h2 {
//         font-size: 35px;
//         margin-left: 50px;
//         color: #495057;

//         @include mobile {
//           font-size: 20px;
//           margin: 0 0 0 10px;
//           align-content: center;
//         }
//       }
//       h3 {
//         font-size: 30px;
//         margin-left: 50px;
//         color: white;

//         @include mobile {
//           font-size: 15px;
//           margin: 5px 0 0 10px;
//         }

//         span {
//           font-size: 30px;
//           color: crimson;

//           @include mobile {
//             font-size: 22px;
//             margin: 0 0 10px;
//           }
//         }

//         .ityped-cursor {
//           animation: blink 0.75s infinite;
//         }

//         @keyframes blink {
//           50% {
//             opacity: 1;
//           }
//           100% {
//             opacity: 0;
//           }
//         }
//       }
//       a {
//         position: absolute;
//         bottom: 50px;
//         left: 30%;
//       }

//       .downIcon {
//         width: 50%;
//         height: 30%;
//         align-items: flex-start;
//         justify-content: center;
//         color: red;
//         transform: rotate(90deg);
//         animation: arrowBlink 6s infinite;

//         @keyframes arrowBlink {
//           100% {
//             opacity: 20%;
//           }
//         }
//         @include mobile {
//           display: none;
//           @keyframes arrowBlink {
//             100% {
//               display: none;
//             }
//           }
//         }
//       }
//     }
//   }

//   .mobileArrow {
//     display: none;

//     @keyframes arrowBlink {
//       100% {
//         display: none;
//       }
//     }
//     @include mobile {
//       display: block;
//       color: red;
//       bottom: 2%;
//       margin: 0% 0 0 0;
//       transform: rotate(90deg);
//       @keyframes arrowBlink {
//         100% {
//           display: none;
//         }
//       }
//     }

//     .downIconMobile {
//       display: none;
//       width: 100px;
//       height: 100px;
//       align-items: flex-start;
//       justify-content: center;
//       color: red;
//       animation: arrowBlink 3s infinite;

//       @keyframes arrowBlink {
//         100% {
//           opacity: 20%;
//         }
//         0% {
//           opacity: 100%;
//         }
//       }
//       @include mobile {
//         display: flex;
//       }
//     }
//   }
// }
