@import "../../global.scss";

#testimonial {
  padding: 70px 0 20px 0;
}

// ---------------------------------------------------------------
@media screen and (min-width: 973px) {
  .testimonial {
    padding-top: 15px;
    height: 80%;
  }

    .testimonialTitle{
      font-size: 3rem;
      margin: 3rem 0;
    }
    
    div.testimonialContainer {
      width: 95%;
      max-width: 1200px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 5rem;
    }
      
      .testimonialCard {
        min-height: 550px;
        max-height: 550px;
        min-width: 300px;
        max-width: 300px;

        margin: 0 auto 5% auto;
        overflow: visible;
        padding: 1% 0%;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        transition: all 1s;

        &:hover {
          background-color: none;
          transform: scale(1.05);
          border: 3px solid;
          border-color: white;
        
          .testimonialCardImg{
            border: solid 2px;
            border-color: white;
            transform:rotateY(180deg);
            transition-duration: 3s;
          }

        }

        .topTestimonialCard{
          display: flex;
          justify-content: space-between;
          min-height: 75px;
          max-height: 75px;
          width: 90%;
          margin: .5rem 0 0% 0;
          overflow: hidden;
          border-radius: 10px;
          background: rgb(240, 237, 237);
        }
        
        .testimonialCardImg {
          display: flex;
          margin: 0 0 0 1.5rem;
          width: 75px;
          height: 75px;
          border-radius: 100%;
          scroll-behavior: none;
          transition-delay: 0.5s ease;
        }
          
        .testimonialIconContain{
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          -ms-overflow-style: none;
          scrollbar-width: none;
          margin: 0 2.5rem 2rem 0;
          
          .testimonialCardIcon{
            width: 75px;
          }
        }

        #testimonialCardName{
          margin: -1.5rem 0 1rem 3rem;
          text-align: center;
          width: 100%;
          height: 10%;
        }

        .testimonialCardTitle{
          margin: .5rem 0 0rem 0;
          border-radius: 20%;
          height: 3rem;
          text-align: center;
          width: 90%;
          overflow: hidden;
        }
      }

      #testimonialCardText{
        display: flex;
        font-size: .8rem;
        background-color: rgb(243, 221, 221);
        border-radius: 10px;
        padding: 5%;
      }

      .featuredTestimonial {
        min-height: 625px;
        max-height: 675px;
        min-width: 350px;
        max-width: 375px;

        margin: 0 auto 5% auto;
        overflow: visible;
        padding: 1% 0%;
        border-radius: 10%;
        box-shadow: 0px 0px 15px -8px rgb(193, 45, 45);
        justify-content: center;
        align-items: center;
        transition: all 1s;

        &:hover {
          transform: scale(1.05);
          border: 3px solid;
          border-color: white;
        
          .testimonialCardImg{
            border: solid 2px;
            border-color: white;
            transform:rotateY(180deg);
            transition-duration: 3s;
          }
          .topTestimonialCard {
            border: solid goldenrod 1px;
          }
        }
        .topTestimonialCard{
          display: flex;
          align-items: center;
          justify-content: space-between;
          min-height: 95px;
          max-height: 75px;
          width: 90%;
          margin: .5rem 0 0% 0;
          overflow: hidden;
          border-radius: 10px;
          background: rgb(240, 237, 237);
        }
        
        .testimonialCardImg {
          display: flex;
          margin: .25rem 0 0 1rem;
          width: 85px;
          height: 85px;
          border-radius: 100%;
          scroll-behavior: none;
          transition-delay: 0.5s ease;
        }

        .testimonialIconContain{
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          -ms-overflow-style: none;
          scrollbar-width: none;
          margin: 0 2.5rem 2rem 0;
          
          .testimonialCardIcon{
            width: 75px;
          }
        }

        #testimonialCardName{
          margin: -1.5rem 0 1rem 3rem;
          text-align: center;
          width: 100%;
          height: 10%;
        }

        .testimonialCardTitle{
          margin: .5rem 0 0rem 0;
          height: 3rem;
          text-align: center;
          width: 90%;
          overflow: hidden;
          font-size: 1.25rem;
          color: goldenrod;
        }
      }
        
      .testimonialIconContain::-webkit-scrollbar {
        display: none;
      }
}

// ---------------------------------------------------------------
@media screen and (min-width: 421px) and (max-width: 972px) {
  .testimonial {
    padding-top: 15px;
    height: 80%;
  }

      .testimonialTitle{
        font-size: 3rem;
        margin: 0.5rem 0;
      }
    
    div.testimonialContainer {
      width: 95%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 1rem;
    }
      
      .testimonialCard {
        min-height: 350px;
        max-height: 400px;
        min-width: 300px;
        max-width: 300px;

        margin: 0 auto 5% auto;
        overflow: visible;
        padding: 1% 0%;
        border-radius: 10px;
        box-shadow: 0px 0px 15px -8px rgb(193, 45, 45);
        background: rgb(205, 37, 37);
        justify-content: center;
        align-items: center;
        transition: all 1s;

        &:hover {
          transform: scale(1.05);
          border: 3px solid;
          border-color: white;
        
          .testimonialCardImg{
            border: solid 2px;
            border-color: white;
            transform:rotateY(180deg);
            transition-duration: 3s;
            
          }
        }

        .topTestimonialCard{
          display: flex;
          justify-content: space-between;
          min-height: 75px;
          width: 90%;
          margin: .5rem 0 0% 0;
          overflow: hidden;
          border-radius: 10px;
          background: rgb(240, 237, 237);
        }
        
        .testimonialCardImg {
          display: flex;
          margin: 0 0 0 1.5rem;
          width: 75px;
          height: 75px;
          border-radius: 100%;
          scroll-behavior: none;
          transition-delay: 0.5s ease;
        }
        
        .testimonialIconContain{
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          -ms-overflow-style: none;
          scrollbar-width: none;
          margin: 0 2.5rem 2rem 0;
          
          .testimonialCardIcon{
            width: 75px;
          }
        }

        #testimonialCardName{
          margin: -1.5rem 0 1rem 3rem;
          text-align: center;
          width: 100%;
          height: 10%;
        }

        .testimonialCardTitle{
          margin: .5rem 0 0rem 0;
          border-radius: 20%;
          height: 3rem;
          text-align: center;
          width: 90%;
          overflow: hidden;
        }
      }

      #testimonialCardText{
        display: flex;
        font-size: .8rem;
        background-color: rgb(243, 221, 221);
        border-radius: 10px;
        padding: 5%;
      }

      .featuredTestimonial {
        min-height: 350px;
        max-height: 400px;
        min-width: 300px;
        max-width: 300px;

        margin: 0 auto 5% auto;
        overflow: visible;
        padding: 1% 0%;
        border-radius: 10px;
        box-shadow: 0px 0px 15px -8px rgb(193, 45, 45);
        justify-content: center;
        align-items: center;
        transition: all 1s;

        &:hover {
          transform: scale(1.05);
          border: 3px solid;
          border-color: white;
        
          .testimonialCardImg{
            border: solid 2px;
            border-color: white;
            transform:rotateY(180deg);
            transition-duration: 3s;
            
          }
        }
        .topTestimonialCard{
          display: flex;
          justify-content: space-between;
          min-height: 75px;
          width: 90%;
          margin: .5rem 0 0% 0;
          overflow: hidden;
          border-radius: 10px;
          background: rgb(240, 237, 237);
        }
        
        .testimonialCardImg {
          display: flex;
          margin: 0 0 0 1.5rem;
          width: 75px;
          height: 75px;
          border-radius: 100%;
          scroll-behavior: none;
          transition-delay: 0.5s ease;
        }

        .testimonialIconContain{
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          -ms-overflow-style: none;
          scrollbar-width: none;
          margin: 0 2.5rem 2rem 0;
          
          .testimonialCardIcon{
            width: 75px;
          }
        }

        #testimonialCardName{
          margin: -1.5rem 0 1rem 3rem;
          text-align: center;
          width: 100%;
          height: 10%;
        }

        .testimonialCardTitle{
          margin: .5rem 0 0rem 0;
          border-radius: 20%;
          height: 3rem;
          text-align: center;
          width: 90%;
          overflow: hidden;
        }
      }
        
      .testimonialIconContain::-webkit-scrollbar {
        display: none;
      }

}

  // ______________________________________________________________
  
  @media screen and (min-width: 100px) and (max-width: 420px) {
  
  .testimonial {
    padding-top: 15px;
    height: 80%;
  }

      .testimonialTitle{
        font-size: 3rem;
        margin: 0.5rem 0;
      }
    
    div.testimonialContainer {
      width: 98%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 1rem;
    }

      .mobileTestimonialCard{
        min-height: 125px;
        max-height: 125px;
        min-width: 300px;
        max-width: 300px;
        overflow: hidden;
        padding: 0% 0% .5rem 0;
        margin: 2rem 0  0;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        transition: all 1s;
        z-index: 0;

        &:hover {
          background-color: none;
          transform: scale(1.05);
          border: 3px solid;
          border-color: white;
        
          .mobileTestimonialCardImg{
            border: solid 2px;
            border-color: white;
            transform:rotateY(180deg);
            transition-duration: 3s;
          }

        }

        .mobileTopTestimonialCard{
          display: flex;
          justify-content: space-between;
          min-height: 105px;
          width: 95%;
          margin: .5rem 0 0% 0;
          overflow: hidden;
          border-radius: 10px;
          background: rgb(240, 237, 237);
        }
        
        .mobileTestimonialCardImg {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 2% 0 0 .25rem;
          width: 110px;
          height: 95px;
          border-radius: 100%;
          scroll-behavior: none;
          transition-delay: 0.5s ease;
        }
                
        .mobileTestimonialIconContain{
          display: flex;
          height: 100px;
          width: 200px;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          -ms-overflow-style: none;
          scrollbar-width: none;
          margin: 0rem 0rem 0 0;
          flex-direction: column;
          
          .mobileTestimonialCardIcon{
            display: flex;
            width: 75px;
            margin: 1rem 0 0 0;
          }
        }

        .mobileTestimonialCardName{
          overflow: visible;
          text-align: center;
          width: 150px;
          font-size: 1.25rem;
          margin: .5rem 0 0 0;
          padding: 0;
        }

        .mobileExpandIcon{
          display: flex;
          color: white;
        }

        .mobileExpandIconContainer{
          position: absolute;
          bottom: -5%;
          overflow: visible;
        }
      }
      
      .testimonialCard {
        min-height: 350px;
        max-height: 400px;
        min-width: 300px;
        max-width: 300px;

        margin: 0 auto 5% auto;
        overflow: visible;
        padding: 1% 0%;
        border-radius: 10px;
        box-shadow: 0px 0px 15px -8px rgb(193, 45, 45);
        background: rgb(205, 37, 37);
        justify-content: center;
        align-items: center;
        transition: all 1s;

        &:hover {
          transform: scale(1.05);
          border: 3px solid;
          border-color: white;
        
          .testimonialCardImg{
            border: solid 2px;
            border-color: white;
            transform:rotateY(180deg);
            transition-duration: 3s;
            
          }
        }

        .topTestimonialCard{
          display: flex;
          justify-content: space-between;
          min-height: 75px;
          width: 90%;
          margin: .5rem 0 0% 0;
          overflow: hidden;
          border-radius: 10px;
          background: rgb(240, 237, 237);
        }
        
        .testimonialCardImg {
          display: flex;
          margin: 0 0 0 1.5rem;
          width: 75px;
          height: 75px;
          border-radius: 100%;
          scroll-behavior: none;
          transition-delay: 0.5s ease;
        }
        
        
        .testimonialIconContain{
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          -ms-overflow-style: none;
          scrollbar-width: none;
          margin: 0 2.5rem 2rem 0;
          
          .testimonialCardIcon{
            width: 75px;
          }
        }

        #testimonialCardName{
          margin: -1.5rem 0 1rem 3rem;
          text-align: center;
          width: 100%;
          height: 10%;
        }

        .testimonialCardTitle{
          margin: .5rem 0 0rem 0;
          height: 3rem;
          text-align: center;
          width: 90%;
          overflow: hidden;
        }

        .collapseIconContainer{
          transform: rotate(180deg);
          position: absolute;
          bottom: -6%;
          overflow: visible;
        }
      }

      #testimonialCardText{
        display: flex;
        font-size: .8rem;
        background-color: rgb(243, 221, 221);
        border-radius: 10px;
        padding: 5%;
      }

      .featuredTestimonial {
        min-height: 350px;
        max-height: 400px;
        min-width: 300px;
        max-width: 300px;

        margin: 0 auto 5% auto;
        overflow: visible;
        padding: 1% 0%;
        border-radius: 10px;
        box-shadow: 0px 0px 15px -8px rgb(193, 45, 45);
        justify-content: center;
        align-items: center;
        transition: all 1s;

        &:hover {
          transform: scale(1.05);
          border: 3px solid;
          border-color: white;
        
          .testimonialCardImg{
            border: solid 2px;
            border-color: white;
            transform:rotateY(180deg);
            transition-duration: 3s;
            
          }
        }
        .topTestimonialCard{
          display: flex;
          justify-content: space-between;
          min-height: 75px;
          width: 90%;
          margin: .5rem 0 0% 0;
          overflow: hidden;
          border-radius: 10px;
          background: rgb(240, 237, 237);
        }
        
        .testimonialCardImg {
          display: flex;
          margin: 0 0 0 1.5rem;
          width: 75px;
          height: 75px;
          border-radius: 100%;
          scroll-behavior: none;
          transition-delay: 0.5s ease;
        }

        .testimonialIconContain{
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          -ms-overflow-style: none;
          scrollbar-width: none;
          margin: 0 2.5rem 2rem 0;
          
          .testimonialCardIcon{
            width: 75px;
          }
        }

        .testimonialCardTitle{
          margin: .5rem 0 0rem 0;
          height: 3rem;
          text-align: center;
          width: 90%;
          overflow: hidden;
        }
      }
        
      .testimonialIconContain::-webkit-scrollbar {
        display: none;
      }
    
  }