$mainColor: white;

// mobile display:
$breakpoint-tablet: 424px;

$ipadMini: 1075px;

$desktop: 992px;

$ipad: 820px;

$width: 768px;

$phone: 424px;

$iphone: 415px;

$galaxy: 412px;

$iphone12: 393px;

$iphoneSE: 376px;

$galaxyS8: 360px;

$galaxyFold: 280px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}