@import "../../global.scss";

.aboutMe {
  // transform: rotateY(180deg);
  // rotate: y 180deg;
  // opacity: 80%;
  // align-content: row;
  justify-content: center;
  // align-items: row;
  // align-content: start;

  .container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 90%;
    align-content: start;
    align-items: center;
    justify-content: center;
    // border: solid;
    // border-color: rgb(189, 49, 49);
    margin: 2% 2% 0 2%;
    padding: 10px 10px 10px 0px;

    .left {
      flex: 40%;
      // width: 35%;
      height: 50%;
      margin: 5% 0% 0 0%;
      padding: 10px 10% 60px 0%;
      overflow: visible;
      // border: solid;
      // border-color: black;

      h1 {
        float: left;
        text-align: left;
        justify-content: left;
        font-size: 50px;
        margin: 0 0 0 0;
        // position: absolute;
      }

      p {
        font-size: 15px;

        // color: white;
      }
    }

    .right {
      flex: 20%;
      height: 50%;
      margin: 10% 0 0 0%;
      padding: 10px 10px 10px 10px;
      border: solid;
      border-color: black;
      // align-items: right;
      justify-content: center;
      align-content: space-around;
      background-color: black;
      align-items: center;
      scroll-behavior: none;
      display: flex;
      border-radius: 5%;

      .clickables {
        // width: 400px;
        // height: 300px;
        height: 98%;
        width: 98%;
        align-content: center;
        justify-content: center;
        align-items: center;
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e4/StarfieldSimulation.gif");
        align-items: center;
        display: flex;
        scroll-behavior: none;
        overflow: visible;
        // display: cover;

        .resumeContainer {
          // width: 150px;
          // height: 150px;
          height: 95%;
          width: 90%;
          align-content: space-around;
          align-items: center;
          justify-content: space-around;
          display: flex;
          margin: 0 10% 5% 10%;
          scroll-behavior: none;
          // background-color: rgb(129, 54, 54);
          overflow: visible;

          a {
            margin: 0 10px 0 10px;
            padding: 0 0 0 0;
            transition: all 2s ease;
            justify-content: center;
            scroll-behavior: none;
            align-content: center;

            img {
              width: 85%;
              height: 90%;
              margin: 0 0 0 0;
              padding: 2% 0 0 7%;
              // overflow: hidden;
              border-radius: 70%;
              opacity: 60%;
              transition: all 0.8s ease;

              &:hover {
                opacity: 100%;
                box-shadow: white;

                img {
                  opacity: 100%;
                  z-index: 0;
                  overflow: visible;
                }
              }
            }
            h3 {
              opacity: 20%;
              color: white;
              justify-content: center;
              align-items: center;
              align-content: center;
              // display: none;
              transition: all 2s ease;
              font-size: 17px;
              text-align: center;
              border-left: solid;
              border-right: solid;
              overflow: contained;
            }
          }
        }
      }
    }
  }
}

.center {
  padding: 0 0 0 0;
  margin: 20px 0 0 0;
  position: top;
}
